extends base.pug
//- block script 
//-     script(src='/static/index.js')
block style 
    style
      include ../static/style.css
block content   
    section#introSection
        div Welcome to Sajjad's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/card1.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/card2.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/card3.jpg")

                div.card-content
                    p This is the best dance academy of the universe
    section#sponsorsSection
        h2 Our Sponsors
        div#sponserContainer 
            img(src="/static/s1.jpg", alt= "Sponsor Image", class="spImage")
            img(src="/static/s2.jpg", alt= "Sponsor Image", class="spImage")
            img(src="/static/s3.png", alt= "Sponsor Image", class="spImage")
            img(src="/static/s4.jpg", alt= "Sponsor Image", class="spImage")
    
